/*Global CSS*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,800');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
img{
    display: block;
}
.container{
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
/*Global CSS*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,800');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
img{
    display: block;
}
.container{
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    /* z-index: 1; */
}
h1{
    font-size: 120px;
    text-transform: uppercase;
}
h2{
    color: #2d3950;
    font-size: 40px;
    margin-bottom: 25px;
}
p{
    font-size: 20px;
    font-weight: 300;
    color: #999999;
    line-height: 1.6;
}
h4{
    padding: 30px 0 20px;
    font-size: 22px;
    color: #2d3950;
}
/*Header Section*/

header{
    padding: 30px 0 29px;
    overflow: hidden;
    background: #f6f9f9;
}
.logo{
    width: 20%;
    float: left;
}
nav{
    width: 80%;
    float: right;
    /* margin-top: 5px; */
}
nav > ul{
    list-style: none;
    float: right;
}
nav > ul > li{
    display: inline-block;
    padding: 10px 20px;
}
nav > ul > li > a{
    text-decoration: none;
    color: #2d3950;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}
nav > ul > li > a:hover{
    color: #15a4fa;
}
/*Banner Section*/

.banner-section{
    background: url(../img/banner-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    background-size: cover;
}
.banner-section a .fas{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50% , 0);
    color: white;
}
.banner-content{
    color: white;
    text-align: center;
    transform: translate(-50% , -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.banner-content > a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 18px 32px;
    border: 1px solid #15a4fa;
    background: transparent;
    margin: 30px 0 0px;
    border-radius: 3px;
    font-size: 18px;
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}
.banner-content > a:hover{
    background: #15a4fa;
}
.solid-line{
    width: 520px;
    height: 2px;
    background: #15a4fa;
    margin: 30px auto;
}
.about-section{
    background: #f9f9f9;
    padding: 80px 0;
    text-align: center;
}

/*Feature Section*/

.feature-section{
    overflow: hidden;
    padding: 60px 0;
}
.feature{
    width: 33.33%;
    text-align: center;
    float: left;
    padding: 0 20px;
}
.feature p{
    font-size: 15px;
}
.feature-logo{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background: linear-gradient(90deg, #48baff 50%, #5fc3ff 50%);
    line-height: 127px;
    color: #fff;
    border-radius: 2px;
    text-shadow: 0 1px 3px #8f8f8f;
}
.Portfolio-Section{
    padding: 80px 0;
    overflow: hidden;
    text-align: center;
    background: #f9f9f9;
}
.Portfolio-Section h2 {
    margin-bottom: 20px;
}
.Portfolio-Section p{
    font-size: 15px;
    padding-bottom: 50px;
}
.portfolio{
    width: 33.33%;
    float: left;
    padding: 10px;
}
.port-g{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(3, 169, 244, 0.66);
    height: 100%;
    width: 100%;
    transform: scale(0);
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}
.port-g:hover .overlay{
    transform: scale(1);
}
.overlay:hover .fa-link, .overlay:hover .fa-search-plus{
    opacity: 1;
    top: 50%;
}
.overlay > .fa-link{
    position: absolute;
    top: 70%;
    left: 58%;
    transform: translate(-42%, -50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    opacity: 0;
    transition: .6s ease all;
    -moz-transition: .6s ease all;
    -webkit-transition: .6s ease all;
}
.overlay > .fa-search-plus{
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-55%, -50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    opacity: 0;
    transition: .6s ease all;
    -moz-transition: .6s ease all;
    -webkit-transition: .6s ease all;
}

/*Form Section*/

.form-section{
    padding: 70px 0;
    background: url(../img/form-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
}
.form-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2d3950;
    opacity: 0.9;
}
.form-section h2{z-index: 1;
    position: relative;
    color: #fff;
}
.form-section p{
    z-index: 1;
    position: relative;
    font-size: 15px;
}
form{
    z-index: 1;
    position: relative;
    padding: 10px 0;
    width: 50%;
    margin: auto;
}
input[type="text"] , input[type="email"] , textarea{
    width: 100%;
    padding: 15px 10px;
    background: transparent;
    border: 1px solid #f9f9f9;
    margin-bottom: 20px;
    border-radius: 3px;
}
textarea{
    min-height: 200px;
}
input[type="checkbox"]{}
label{}
input[type="submit"]{}

/*Footer Section*/

footer{}
.copyright{}
.social-link{}
.social-link ul{}
.social-link ul li{}
.social-link ul li a{}}
h1{
    font-size: 120px;
    text-transform: uppercase;
}
h2{
    color: #2d3950;
    font-size: 40px;
    margin-bottom: 25px;
}
p{
    font-size: 20px;
    font-weight: 300;
    color: #999999;
    line-height: 1.6;
}
h4{
    padding: 30px 0 20px;
    font-size: 22px;
    color: #2d3950;
}
/*Header Section*/

header{
    padding: 30px 0 29px;
    overflow: hidden;
    background: #f6f9f9;
}
.logo{
    width: 20%;
    float: left;
}
nav{
    width: 80%;
    float: right;
    /* margin-top: 5px; */
}
nav > ul{
    list-style: none;
    float: right;
}
nav > ul > li{
    display: inline-block;
    padding: 10px 20px;
}
nav > ul > li > a{
    text-decoration: none;
    color: #2d3950;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}
nav > ul > li > a:hover{
    color: #03A9F4;
}
/*Banner Section*/

.banner-section{
    background: url(../img/banner-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    background-size: cover;
}
.banner-section a .fas{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50% , 0);
    color: white;
}
.banner-content{
    color: white;
    text-align: center;
    transform: translate(-50% , -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.banner-content > p{
    color: #fff;
}
.banner-content > a{
    display: inline-block;
    color: white;
    text-decoration: none;  
    padding: 18px 32px; 
    border: 1px solid #03A9F4;
    background: transparent;
    margin: 30px 0 0px;
    border-radius: 3px;
    font-size: 18px;
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}
.banner-content > a:hover{
    background: #03A9F4;
}
.solid-line{
    width: 520px;
    height: 2px;
    background: #03A9F4;
    margin: 30px auto;
}
.about-section{
    background: #f9f9f9;
    padding: 80px 0;
    text-align: center;
}

/*Feature Section*/

.feature-section{
    overflow: hidden;
    padding: 60px 0;
}
.feature{
    width: 33.33%;
    text-align: center;
    float: left;
    padding: 0 20px;
}
.feature p{
    font-size: 15px;
}
.feature-logo{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background: linear-gradient(90deg, #48baff 50%, #5fc3ff 50%);
    line-height: 127px;
    color: #fff;
    border-radius: 2px;
    text-shadow: 0 1px 3px #8f8f8f;
}
.Portfolio-Section{
    padding: 80px 0;
    overflow: hidden;
    text-align: center;
    background: #f9f9f9;
}
.Portfolio-Section h2 {
    margin-bottom: 20px;
}
.Portfolio-Section p{
    font-size: 15px;
    padding-bottom: 50px;
}
.portfolio{
    width: 33.33%;
    float: left;
    padding: 10px;
}
.port-g{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(3, 169, 244, 0.66);
    height: 100%;
    width: 100%;
    transform: scale(0);
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}
.port-g:hover .overlay{
    transform: scale(1);
}
.overlay:hover .fa-link, .overlay:hover .fa-search-plus{
    opacity: 1;
    top: 50%;
}
.overlay > .fa-link{
    position: absolute;
    top: 70%;
    left: 58%;
    transform: translate(-42%, -50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    opacity: 0;
    transition: .6s ease all;
    -moz-transition: .6s ease all;
    -webkit-transition: .6s ease all;
}
.overlay > .fa-search-plus{
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-55%, -50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    opacity: 0;
    transition: .6s ease all;
    -moz-transition: .6s ease all;
    -webkit-transition: .6s ease all;
}

/*Form Section*/

.form-section{
    padding: 70px 0;
    background: url(../img/form-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
}
.form-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2d3950;
    opacity: 0.9;
}
.form-section h2{z-index: 1;
    position: relative;
    color: #fff;
}
.form-section p{
    z-index: 1;
    position: relative;
    font-size: 15px;
}
form{
    z-index: 1;
    position: relative;
    padding: 10px 0;
    width: 50%;
    margin: auto;
}
input[type="text"] , input[type="email"] , textarea{
    width: 100%;
    padding: 15px 10px;
    background: transparent;
    border: 1px solid #f9f9f9;
    margin-bottom: 20px;
    border-radius: 3px;
}
textarea{
    min-height: 200px;
}
label{
    color: #fff;
}
input[type="submit"]{
    background: transparent;
    margin-left: 310px;
    border: 1px solid #15a4fa;
    padding: 7px 20px;
    color: #fff;
    font-weight: 600;
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}
input[type="submit"]:hover{
    background:  #15a4fa;
    cursor: pointer;
}

/*Footer Section*/

footer{
    padding: 25px 0;
    overflow: hidden;
}
.copyright{
    width: 50%;
    float: left;
}
.copyright p{
    font-size: 15px;
}
.social-link{
    width: 50%;
    float: left;
}
.social-link ul{
    list-style: none;
    text-align: right;
}
.social-link ul li{
    display: inline-block;
    margin-left: 15px;
    background: #15a4fa;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.social-link ul li:hover a{
    color: #343a40;
}
.social-link ul li a{
    text-transform: none;
    color: #fff;
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}